:root {
  --background-color-light: white;
  --text-color-light: black;
  --background-color-dark: #1E1E1E;
  --text-color-dark: #e0e0e0;
  --link-color-light: #0071F9;
  --link-color-dark: #009AFF;
  -webkit-touch-callout: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-callout: none;
  -webkit-highlight: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.connect-button-container {
  position: absolute;
  top: 9pt;
  right: 9pt;
}

.board-svg {
  display: block;
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: none !important;
  animation: none !important;
  transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-touch-callout: none;
  width: 100vw;
  max-height: 77vh;
  touch-action: none;
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (orientation: portrait) {
  .board-svg {
    top: max(52.5%, 222.5pt);
  }
}

.item {
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  touch-action: none;
  outline: none;
  transform: translate3d(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  a {
    color: var(--link-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }

  a {
    color: var(--link-color-light);
  }
}

a,
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}